$color-dark: #121221;
$color-blue: #2f80ed;
$color-light: #ffffff;
$color-accent: #eb5757;
$color-gray: #6c6c6c;
$color-gray-dark: #444444;
$color-gray-light-2: #949494;
$color-gray-light-1: #d4d4d4;
