$font-main: "Playfair Display", serif;
$font-header: "Roboto", sans-serif;

// font-size 48 36 18 16 12
// 1170px max-widht

$font-size: 16px;

$xl: 1024px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$max-width: 1170px;

$gap: 20px;
$navbar-mobile-width: 250px;
